.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.header__left {
  display: flex;
}

.header__left>img {
  object-fit: contain;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #eef3f8;
  color: gray;
  border-radius: 5px;
  height: 22px;
}

.header__search>input {
  border: none;
  outline: none;
  margin-left: 5px;
  background: none;
}

.header__right {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header__search>input {
    display: none;
  }

  .header__icon {
    display: none;
  }
}